@import url('https://fonts.googleapis.com/css2?family=Hind&family=Teko:wght@300&display=swap');
#data{
    text-align: center;
}

.heightText{
    font-family: 'Hind', sans-serif;
}

label{
    font-size: 15pt;
    font-family: 'Hind', sans-serif;
}

.gender{
    border: none;
    color: white;
    width: 12em;
    padding: 0.66em;
}

#male{
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    background-color: #3C99DC;
    margin-right: -1.30pt;
}

#female{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding-right: 1em;
    background-color: #FF78BD;
    margin-left: -1.30pt;
}

.inactive{
    background-color: #EEEEEE !important;
    color: black;
}

input{
    font-size: 1.25em;
    text-align: center;
    border: none;
    background-color: transparent;
    border-bottom: 2pt solid #D9D9D9;
}
input:focus{
    outline: none;
    border-bottom: 2pt solid black;
}

#age{
    width: 2em;
}

.height{
    width: 1.5em;

}

#weight{
    width: 3em;
}

#ageDiv, #heightDiv, #weightDiv{
    margin-top: 1em;
    display:inline-block;
    background-color: #F3F3F3;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 0.5em;
    padding-top: 0.25em;
    text-align: center;
    border-radius: 0.5em;
}

#heightDiv{
    width: 6em;
}

#buttonsDiv{
    margin-top: 1em;
}

#buttonCal{
    border: white 0.2em solid;
    border-radius: 2em;
    color: white;
}

p{
    display: inline;
}