@import url('https://fonts.googleapis.com/css2?family=Hind&family=Teko:wght@300&display=swap');
#data{
    text-align: center;
}

label{
    font-size: 15pt;
    font-family: 'Hind', sans-serif;
}

.gender{
    border: none;
    color: white;
    width: 12em;
    padding: 0.66em;
}

#male{
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    background-color: #3C99DC;
    margin-right: -1.30pt;
}

#female{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding-right: 1em;
    background-color: #FF78BD;
    margin-left: -1.30pt;
}

.inactive{
    background-color: #EEEEEE !important;
    color: black;
}

input{
    width: 2.5em;
    font-size: 1em;
    text-align: center;
    border: none;
    background-color: transparent;
    border-bottom: 5px solid black;
}

#ageDiv, #heightDiv, #weightDiv{
    margin-top: 1em;
    display:inline-block;
    background-color: red;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: center;
    border-radius: 0.5em;
}

#buttonsDiv{
    margin-top: 1em;
}