@import url('https://fonts.googleapis.com/css2?family=Hind&family=Teko:wght@400&display=swap');
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body{
    font-family: 'Hind', sans-serif;
}

input[type=number] {
    -moz-appearance: textfield;
}

label{
    font-size: 15pt;
    font-family: 'Hind', sans-serif;
}

#data{
    margin: 0 auto;
    text-align: center;
    background-color: white;
    width: 97%;
    max-width: 26.5em;
    border-radius: 0.66em;
    padding-bottom: 1em;
    padding-top: 0.5em;
}

#genderDiv > label{
    margin-right: 73%;
}

.gender{
    border: none;
    color: white;
    width: 45%;
    max-width: 12em;
    padding-bottom: 0.3em;
    padding-top: 0.4em;
    font-size : 1.1em;
    font-family: 'Hind', sans-serif;
    margin-top: 2pt;
}

#male{
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    background-color: #3C99DC;
    margin-right: -1.30pt;
}

#female{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding-right: 1em;
    background-color: #FF78BD;
    margin-left: -1.30pt;
}

.inactive{
    background-color: #EEEEEE !important;
    color: black;
}

input{
    font-size: 1.25em;
    text-align: left;
    padding-top: 0.35em;
    border: none;
    background-color: transparent;
    border-bottom: 2pt solid #D9D9D9;    
    height: 1.4em;
}

input:focus{
    outline: none;
    border-bottom: 2pt solid black;
}

#ageDiv, #heightDiv, #weightDiv{
    text-align: left;    
    margin-top: 1em;
    display:inline-block;
    background-color: #F3F3F3;
    width: 29%;
    max-width: 7.5em;
    padding-top: 0.25em;
}

.inputIsNull{
    border-bottom: 2pt solid red;    
}

#age, #height, #weight, .heightImperial{
    margin-top: -0.5em;
    margin-bottom: 0.25em;
    margin-left: 0.3em;
    text-align: center;
}

#age{
    width: 85%;
}

#height{
    width: 68%;
}

#weight{
    width: 70%;
}

label{
    margin-left: 0.55em;
    font-size: 1em;
}

.measure{
    font-size: 8pt;
    font-weight: 800;
    color: grey;
    padding-top: 3.3em;
    padding-bottom: 1em;
    margin-left: 0%;
}

#labelAge{
    padding-right: 5em;
}

#labelHeight{
    padding-right: 3.9em;
}

#labelWeight{
    padding-right: 3.7em;
}





.output{
    margin: 0 auto;    
    background-color: white;
    width: 97%;
    max-width: 26.5em;
    border-radius: 0.66em;
    margin-top: -0.75em;
}

h2, #outputBmiNumber, #outputBmiClassification, #healthyWeights, #outputBmr{
    text-align: center;
}

h2{
    padding-top: 0.33em;
}

#outputBmiNumber{
    margin-top: -0.9em;
    font-size: 2em;
}

#outputBmiClassification{
    margin-top: -2.5em;
    font-size: 1em;
}

#healthyWeights{
    padding-bottom: 0.5em;
    margin-top: -0.66em;
    font-size: 0.95em;
}

#outputBmr{
    margin-top: -0.8em;
    padding-bottom: 2pt;
    font-size: 2em;
}

input::placeholder{
   color: #A8A8A8;
   font-size: 0.9em;
}



.heightImperial{
    width: 34%;
}

.measureImperialSystem{
    font-weight: bold;
    size: 10em;
    letter-spacing: 0.11em;
}

#heightImperial2{
    margin-left: -0.5pt;
}

#genderDiv label{
    float: left;
    margin-left: 8.5%;
}





#changeUnit{
    position: absolute;
    font-family: 'Hind', sans-serif;
    float: right;
    margin-bottom: -2em;
    margin-right: 5%;
    margin-top: -0.3em;
    border: none;
    padding: 5pt;
    border-radius: 1em;
    color: black;
    background-color: transparent;
    height: 1em;
    text-align: center;
}